[Unit]
Description=evocar
Requires=network-online.target rosmasterpi
Wants=systemd-networkd-wait-online.service
After=network.target sysinit.target network-online.target systemd-networkd-wait-online.service rosmasterpi

[Service]
ExecStart=/home/pi/system/runevocar.sh
WorkingDirectory=/home/pi/system
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=3
User=pi

[Install]
WantedBy=multi-user.target

