[Unit]
Description=rosmaster
Requires=network-online.target
After=network.target sysinit.target network-online.target

[Service]
ExecStart=/home/pi/system/runpi.sh
WorkingDirectory=/home/pi/system
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=3
User=pi

[Install]
WantedBy=multi-user.target

